@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e8eaed;
    margin:0;
    position: relative;
    font-family:  Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p, li {
    margin:0;
    padding: 0;
    color: #202124;
    text-size-adjust: 100%;
    font: 400 16px/24px Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif
}
a {
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, h5 {
    margin: 20px 0 20px 0;
    font-weight: normal;
    font-family: Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}

